/* Base styles */

body {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .025rem;
  background: #1e20ff;
  color: #2f4f4f;
  font-family: 'Roboto Mono', monospace;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  opacity: .5;
  border: none;
  border-top: 1px solid gray;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.row {
  display: flex;
  -webkit-display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  flex-grow: 1;
  padding: 1rem;
}
.banner {
 background: url('../images/milky-way-galaxy-during-nighttime-1252890.jpg');
  backgroud-size: cover;
  min-height: 35vh;
  padding: 2rem;
  text-align: center; 
}

.banner-text {
  display: inline-block;
  margin: auto; 
  padding: 1rem;
  font-size: 2ren;
  width: auto;
  background: #253f3f; 
  color: #f8fbfb;
  border: 10px solid #f8fbfb;
}
   
  
.profile-img {
  max-height: 30vh;
  width: auto;
  border-radius: 50%;
}

/* google fonts */
@import url(https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Indie+Flower&family=Playfair+Display:wght@600&family=Righteous&family=Rowdies&display=swap);

* {
	transition: all 0.3s ease;
}

body {
	font-family: "helvetica", sans-serif;
	font-weight: bold;
	font-size: 10rem;
	color: white;
	background: black;
}

.wrapper {
	width: 100%;
	margin: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.m:hover,
.e:hover,
.g:hover,
.a:hover,
.n:hover,
.ex:hover {
	padding: 0 20px;
}

.m {
	color: red;
	font-family: "Righteous", cursive;
}

.e {
	color: yellow;
	font-family: "Indie Flower", cursive;
}

.e:hover {
	color: yellow;
}

.g {
	color: limegreen;
	font-family: "Arvo", serif;
}

.a {
	color: blue;
	font-family: "Playfair Display", serif;
}

.n {
	color: orchid;
	font-family: "Rowdies", cursive;
}

.m:hover {
	color: orchid;
	background-color: red;
	font-size: 14rem;
	cursor: pointer;
}

.e:hover {
	color: blue;
	background-color: yellow;
	cursor: pointer;
	font-size: 14rem;
}

.g:hover {
	color: lightskyblue;
	background-color: limegreen;
	cursor: pointer;
	font-size: 14rem;
}

.a:hover {
	color: yellow;
	background-color: blue;
	cursor: pointer;
	font-size: 14rem;
}

.n:hover {
	color: red;
	background-color: orchid;
	font-size: 14rem;
	cursor: pointer;
}

.ex {
	color: red;
}

.ex:hover {
	background-color: red;
	color: orchid;
	font-size: 14rem;
	cursor: pointer;
}
